


html {
	font-size: 5px;
}

@media (min-width: 309px) {
  html {
    font-size: 1.618034vw;
  }
}

@media (min-width: 1730px) {
  html {
    font-size: 28px;
  }
}

body {
	font-size: 13px;
}

@media (min-width: 803px) {
  body {
    font-size: 1.618034vw;
  }
}

@media (min-width: 1174px) {
  body {
    font-size: 19px;
  }
}

.ff-montserrat { font-family: Montserrat; }
.ff-verdana { font-family: Verdana; }
.ff-tahoma { font-family: Tahoma; }
.ff-trebuchet { font-family: "Trebuchet MS"; }

.app {/* height: 100%; */flex-grow: 1; background: #ddd; }